.card {
  height: 100%;

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }

  .card-title {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 0.9rem;
    margin-bottom: 15px;
  }
}
